@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: black;
}

/* Header */
.header {
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}
.header-top {
  background-color: #1cd1b0;
}
.header-top a {
  color: black;
  padding: 0 2rem;
  display: inline-block;
  text-decoration: none;
}
.header-bottom {
  padding-left: 2rem;
  background-color: #00669f;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.header-bottom a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.header-bottom img {
  height: auto;
  width: 80px;
}
.header-bottom h1 {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  color: white;
}
.header .header-nav ul {
  padding: 0.5rem 1rem;
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.header .header-nav ul li a {
  color: white;
  text-decoration: none;
}

/* Main */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00669f;
  color: white;
  font-family: "Inter", sans-serif;
  border-radius: 50px;
  width: 80%;
  margin: 3rem auto;
  padding: 2rem 1rem;
}
form .container {
  width: 80%;
}
form .container h2 {
  font-weight: 700;
  font-size: 2rem;
  margin: 0 0 0.2rem;
}
form .container fieldset {
  border: none;
  padding: 0;
}
form .container .group-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
form .container .fieldset-top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
form .container .fieldset-top legend {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 300;
}
form .container .fieldset-top .group-input {
  width: 45%;
}
form .container .fieldset-top .group-input label {
  margin-bottom: 10px;
  font-weight: 300;
}
form .container .fieldset-top .group-input input,
form .container .fieldset-top .group-input select {
  border: 0;
  height: 50px;
  border-radius: 15px;
  padding: 0 1rem;
  width: 100%;
}
form .container .content-form-bottom {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
form .container .content-form-bottom textarea {
  width: 45%;
  border: 0;
  border-radius: 15px;
  padding: 1rem;
}
form .container .content-form-bottom .group-fieldset {
  width: 45%;
}
form .container .content-form-bottom .group-fieldset fieldset legend {
  margin-bottom: 1rem;
  font-weight: 300;
}
form .container .content-form-bottom .group-fieldset .fieldset-1 {
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}
form .container .content-form-bottom .group-fieldset .fieldset-2 {
  margin-top: 1rem;
}
form .container .content-form-bottom .group-input {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 10px;
}
form .container .content-form-bottom .group-input label {
  font-weight: 300;
}
form button {
  cursor: pointer;
  border: 0;
  background-color: #1cd1b0;
  padding: 20px 120px;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: 700;
}
form button:hover {
  transition: all 600ms;
  background-color: #001d2d;
  color: white;
}

/* Footer */
.footer {
  background-color: #00669f;
  height: 70px;
  width: 100%;
  padding: 0 2rem 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer p {
  color: white;
  text-align: end;
}
.footer p span {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  form {
    width: 90%;
    border-radius: 20px;
  }
  form fieldset {
    width: 100%;
  }
}
@media (max-width: 1328px) {
  .header .header-bottom h1 {
    font-size: 30px;
  }
  .footer {
    height: auto;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
  }
  .footer p {
    text-align: center;
    width: auto;
  }
}/*# sourceMappingURL=anadir.css.map */